* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: minecraft;
  src: url("../fonts/Minecrafter.Alt.ttf");
}

@font-face {
  font-family: minecraft;
  src: url("../fonts/Minecrafter.Alt.ttf");
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url("../imgs/telainicio.gif");
  background-size: cover;
  background-repeat: repeat-y;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
  font-family: minecraft;
}

#footer1 {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
  font-family: minecraft;
}

.copyright {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.baixo h2 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 2em;
}

.baixo .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.baixo .divisor {
  display: none;
}

.baixo .divisor {
  width: 1px;
  height: 100%;
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.baixo .divisor img {
  height: 10em;
  width: 100%;
  object-fit: cover;
}

.bloco {
  width: 400px;
}

.bloco p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#reloadButton {
  margin-right: 10px;
  background: #727272;
  color: rgb(247, 247, 247);
  width: 20%;
  padding: 1rem 0;
  margin-bottom: 0.75rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#reloadButton:hover {
  background: rgba(115, 107, 221, 1);
}

#reloadButton:focus {
  color: rgb(246, 246, 44);
  outline: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 2px solid #39813a;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url(../imgs/capa.jpg);
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}
/* tela menu */
#Menu {
  background: url(../imgs/telainicio.gif) no-repeat;
  background-size: cover;
}

.container2 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}

.menu-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33.3%;
}

.menu-options .btn-minecraft:first-child {
  margin-right: 10px;
}


.btn-minecraft {
  background: #727272;
  color: rgb(247, 247, 247);
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 0.75rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn-minecraft:hover {
  background: rgba(115, 107, 221, 1);
}

.btn-minecraft:focus {
  color: rgb(246, 246, 44);
  outline: none;
}

#btn-minecraft1,
#btn-minecraft2,
#btn-minecraft3,
#btn-minecraft4,
#btn-minecraft5 {
  background: #727272;
  color: rgb(247, 247, 247);
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 0.75rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#btn-minecraft1:hover,
#btn-minecraft2:hover,
#btn-minecraft3:hover,
#btn-minecraft4:hover,
#btn-minecraft5:hover {
  background: rgba(115, 107, 221, 1);
}

#btn-minecraft1:focus,
#btn-minecraft2:focus,
#btn-minecraft3:focus,
#btn-minecraft4:focus,
#btn-minecraft5:focus {
  color: rgb(246, 246, 44);
  outline: none;
}

/* imagem */

.logo {
  width: 50%;
  margin-bottom: 3rem;
}

/* tela opções */
#OpcoesMine {
  background: url(../imgs/fundo.webp);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
  font-family: minecraft;
}

.copyright2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(247, 247, 247);
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.baixo2 h2 {
  color: rgb(247, 247, 247);
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 5px;
  box-sizing: border-box;
  margin-top: 1em;
  margin-bottom: 2em;
}

.baixo2 .container3 {
  color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.baixo2 .divisor2 {
  display: none;
}

.baixo2 .divisor2 {
  width: 1px;
  height: 100%;
  margin: 0 30px;
  display: flex;
  align-items: center;
}

.baixo2 .divisor2 img {
  height: 10em;
  width: 100%;
  object-fit: cover;
}

.bloco2 {
  width: 400px;
}

.bloco2 p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#footer2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: url("../imgs/fundoclaro.webp") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#footer2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#cancelar {
  background: #727272;
  color: rgb(247, 247, 247);
  width: 20%;
  padding: 1rem 0;
  margin-bottom: 0.75rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1;
}

#cancelar:hover {
  background: rgba(115, 107, 221, 1);
}

#cancelar:focus {
  color: rgb(246, 246, 44);
  outline: none;
}

/* nome */
#Nome {
  background: url(../imgs/fundo.webp);
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
  font-family: minecraft;
}

.login_form{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login_header h1 {
  color:  rgb(247, 247, 247);
  font-size: 1.5em;
}

.login_input {
  border: 2px solid rgb(46, 46, 46);
  color: rgb(247, 247, 247);
  font-size: 1em;
  background-color: #000000;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.login_button {
  background: #727272;
  color: rgb(247, 247, 247);
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 0.75rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1.25rem;
  letter-spacing: 0.025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 1;
}

.login_button:hover {
  background: rgba(115, 107, 221, 1);
}

.login_button:focus {
  color: rgb(246, 246, 44);
  outline: none;
}